@page

<div>
    <section>
        <form action="">
            <input type="text" name="email" value="" placeholder="E-mail">
            <input type="password" name="password" value="" placeholder="Senha">
            <a href="#">Esqueceu a senha?</a>

            <button>Login</button>

            <label for="Cadastro"><a href="#"></a></label>
        </form>
    </section>
</div>