
@{
    ViewData["Title"] = "index";
}

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var cliente in (List<ClienteModel>)@ViewData["clientes"])
    {   
        @cliente.CLI_NOME
        <a href="@Url.Action("Editar", "Clientes", new { id = cliente.CLI_CODIGON })">Editar</a>
    }

    <a class="btn btn-primary" href="@Url.Action("Criar", "Clientes")">Cadastro</a>
</div>